<div class="">
    <!-- sidebar -->
    <app-sidebar></app-sidebar>
    <div class="p-12 w-full tablet:pt-12 tablet:px-6 phone:p-4 flex-col">
    <!-- content -->
    <header class="p-20">
        <h1 class="text-primary capitalize font-black text-6xl phone:text-4xl mb-6 pointer-events-none">
            {{location}}
        </h1>
        <p class="font-medium text-secondary-text text-2xl pointer-events-none">Here's your dashboard.</p>
    </header>
    <!-- admin tools -->
    <section>
        admin tools
    </section>
    <!-- store list -->
    <section>
        store list
    </section>
    <!-- end of content -->
    </div>
</div>

