<div class="flex">
  <!--  Sidebar-->
  <app-sidebar></app-sidebar>
  <div class="p-12 w-full tablet:pt-12 tablet:px-6 phone:p-4 flex">
    <!--  Content-->
    <div class="flex flex-col w-full p-24 phone:pt-28 tablet:p-8 phone:p-4 gap-24">
      <div class="">
        <h1 class="font-black text-6xl phone:text-4xl mb-6 pointer-events-none">
          Welcome back, <span class="text-primary">{{ name }}</span>
        </h1>
        <p class="font-medium text-secondary-text text-2xl pointer-events-none">
          Let's get to work.
        </p>
      </div>
      <div class="">
        <div>
          <h4
            class="uppercase font-bold text-2xl mb-5 tracking-[.15em] pointer-events-none"
          >
            Your Locations
          </h4>
          <div
            class="grid grid-cols-4 laptop:grid-cols-3 tablet:grid-cols-2 phone:grid-cols-1 gap-4"
          >
            <app-button
              *ngFor="let button of buttons"
              [buttonType]="1"
              [label]="button"
              [class]="'p-7 font-semibold tracking-[.1em] uppercase !rounded-xl'"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
