<div class="bg-neutral-900 pt-24 phone:pt-12">
  <h1 class="uppercase tracking-[0.5em] font-black text-7xl tablet:text-5xl phone:text-3xl text-center">
    The Car Mart
  </h1>
  <form
    class="bg-neutral-800 w-1/3 laptop:w-1/2 tablet:w-2/3 phone:w-5/6 rounded-xl bg-opacity-50 backdrop-blur-xl shadow-md !mt-10 !mx-auto !py-8 !px-6"
    [formGroup]="formGroup"
    (ngSubmit)="loginProcess()"
  >
    <h3 class="uppercase text-center text-2xl !mb-16">Login</h3>
    <div>
      <div>
        <label class="uppercase tracking-widest text-lg" for="username_in"
          >Username</label
        ><br/>
        <input
          class="transition-faster !text-[0.85rem] block placeholder:!text-neutral-600 focus:outline-0 bg-transparent w-5/6 !px-2 !pt-2 !mb-16 !border-b-2 !border-black/20 focus:!border-blue-500"
          type="text"
          id="username_in"
          placeholder="ENTER YOUR USERNAME"
          formControlName="username"
        />
      </div>
      <div>
        <label class="uppercase tracking-widest" for="password_in"
          >Password</label
        ><br/>
        <input
          class="transition-faster !text-[0.85rem] placeholder:!text-neutral-600 focus:outline-0 bg-transparent w-5/6 !px-2 !pt-2 !mb-6 !border-b-2 !border-black/20 focus:!border-blue-500"
          type="password"
          id="password_in"
          placeholder="ENTER YOUR PASSWORD"
          formControlName="password"
        />
      </div>
    </div>
    <div class="flex">
      <button
        type="submit"
        class="!mx-auto bg-secondary-text hover:bg-primary opacity-40 hover:opacity-100 transition-fast hover:scale-105 rounded-lg drop-shadow-md w-36 h-16 uppercase tracking-[.25em]"
      >
        Login
      </button>
    </div>
  </form>
  <img class="absolute bottom-0 z-0" src="assets/waves.svg" />
</div>
